*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* navbar */
.navbar{
    background-color: rgba(26, 11, 46, 1);;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 92px;
}
.navbar nav{
    display: flex;
    gap: 30px;
}


.navbar a{
    text-decoration: none;
    color: white;
    gap: 30px;
}
.btn{
    border: none;
    border-radius: 30px;
    padding: 6px 5px;
    color: white;
    background-color: #ff4ecd ;
}
/* hero container */

.hero{
    background-image:url("/assets/hero-bg.png");
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    height: 600px;
    position: relative;
}
.hero-container{
    display: flex;
    justify-content: center;
    
    text-align: center;
}
/* about */
.about{
    border: 2px solid red;
    background-color:rgba(26, 11, 46, 1); ;
    color: white;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    height: 400px;

    
}
.about-1{
    margin: 50px 100px;
    padding: 0 20px;
    text-align: center;
}
.about-container{
    margin: 50px 100px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-1 h2{
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about-1 p{
    font-size: 16px;
    color: #ffffff;
}
.about-item h2{
    color: #00FF88;
    font-size: 48px;
}
.about-item p{
    color: #ffffff;
}
/* episode */
.episode{
    border: 2px solid green;
    background-color: #1A0B2E;
    max-width: 1440px;
    padding: 120px 120px;
    margin: 0 auto;
}
.episode h2{
    font-size: 48px;
    font-weight: 600;
}
.episode-card{
    display: grid;
    margin-top: 40px;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    align-items: center;
    justify-content: center;
}
.episode-info{
    background-color: #250D44;
    border-radius: 10px;
    padding-bottom: 10px;
}
.episode-info h3{
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
}
.episode h2{
    color: #ffffff;
    text-align: center;
}
.episode p{
    font-size: 10px;
    color: #4d4949;
}
.episode-info span{
    color: #00FF88;
}